*.o
*.exe
*.out
midilab
midilab.exe
err.txt

tests/
assets/archive/
/build/

/projects/MLB/TestProject.mlb
/projects/MLB/NewProject.mlb
/projects/*.mid
/projects/*/
!/projects/MLB/

/libs/win/archive/
/bin/
/*.dll
/*.so

*.wav
*.mp3
*.mp4
*.mov

/experiments/fft/assets/test.txt
/experiments/fft/fft

/experiments/synth/synth
/experiments/synth/test.txt

/experiments/mlb/editor
/experiments/mlb/*.mlb
/experiments/mlb/assets/

/experiments/chords/chords
